.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field,
.textarea-field {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.input-field::placeholder,
.textarea-field::placeholder {
  color: #999;
}

.input-field:focus,
.textarea-field:focus {
  outline: none;
  border-color: #39b7dd;
}

.btn-submit {
  background: #39b7dd;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-submit:hover {
  background:  rgb(85, 179, 189);
}
