.card {
    width: 300px;
    height: 350px;
    position: relative;
    background: #f5f5f5;
    color: #252525;
    border-radius: 4px;
    overflow: hidden;
    line-height: 150%;
    box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
    transition: box-shadow .3s ease-in-out;
  }
  
  .card-info {
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-align: center;
  }
  
  /* Image */
  .card-img {
    height: 95%;
    width: 100%;
    position: absolute;
    transition: transform .3s ease-in-out;
    z-index: 2;
    -webkit-transition: transform .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out;
    -ms-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
}
  .card-imgMaram {
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    background-size: cover;
  }
  .card-imgHani {
    background-image:url("./HaniImg.jpeg");
    background-size: cover;
    
  }
  .card-imgMeriem {
    background: #00ff88;
    background: linear-gradient(to top, #00ff88, #61efff);
    background-size: cover;

  }
  /* Buttons */
  .social-media {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    transform: translateY(-6em);
    z-index: 3;
  }
  
  .social-media li {
    background: #f5f5f5;
    display: inline-flex;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in;
  }
  /* Icons */
  .social-media li svg {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    fill: #252525;
  }
  
  /* Texts */
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .subtitle {
    letter-spacing: 1px;
    font-size: 0.9em;
  }
  
  
  /* Hovers */
  .card:hover {
    box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
  }
  
  .card:hover .card-img {
    transform: translateY(-5em);
  }
  
  .card:hover .social-media li {
    transform: translateY(-5%);
    opacity: 1;
  }
  
  .card:hover .social-media li:nth-child(1) {
    transition-delay: 0s;
  }
  
  .card:hover .social-media li:nth-child(2) {
    transition-delay: .1s;
  }
  
  .card:hover .social-media li:nth-child(3) {
    transition-delay: .2s;
  }
  .contenaire{
    display: flex;
    margin-top: 20%;
    margin-left: 20%;

 
    
  }
  .elt{
    display: inline-block;
    
  }