.navbar {
    background-color: #333; /* Couleur de fond de la barre de navigation */
    width: auto; /* Ajustement automatique de la largeur */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  
  }
 
  
  .navbar ul li {
    margin-right: 10px; /* Espacement entre les éléments de la barre de navigation */

  }
  
  .navbar ul li:last-child {
    margin-right: 0; /* Supprimer la marge à droite du dernier élément */
    

  }
  
 
  .navbar a {
    color: white; 
    text-decoration: none; 
  }
  
  .navbar a:hover {
    color: lightgray; 
  }
  .conNav{
    justify-content: flex-end;
    margin-left: 820px;
  }
